body {
    padding: 0;
    margin: 0;
}

.full {
    width: 100%;
    height: 100%;
}

#popUp {
    width: 12%;
    height: 14%;
    font-size: 0.8em;
    background-color: bisque;
    border: solid 1px black;
    top: 20%;
    left: 20%;
    position: absolute;
    display: none;
    z-index: 999;
    pointer-events: none;
}

.myrect:hover {
    fill: #ecbcbc;
}

image {
    background-color: bisque;
}

text {
    font-size: 0.7em;
    pointer-events: none;
}

@media screen and (max-width:768px) {
    #popUp {
        font-size: 0.92vw;
        width: 12%;
        height: 6%;
    }
}