body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
}

#popUp {
    width: 12%;
    height: 5%;
    font-size: 0.5em;
    background-color: bisque;
    border: solid 1px black;
    top: 20%;
    left: 20%;
    position: absolute;
    display: none;
    z-index: 999;
}

text {
    font-size: 0.7em;
}


/* выносить окно за размеры блока и не давать мышке на него навестись */

@media screen and (max-width:767px) {
    #popUp {
        font-size: 0.6em;
        width: 24%;
        height: 8%;
    }
    text {
        font-size: 0.6em;
    }
}